header {
  padding: 0 150px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  box-sizing: border-box;
  border-bottom: 2px solid #FF9200;
}

.logo {
  width: 25%;
  display: flex;
  height: 40px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.logo__text {
  font-size: 22px;
  font-weight: bold;
}

.logo__image {
  height: 130%;
  width: 14%;

  margin-right: 20px;

  background-color: white;
  border-radius: 40%;
}

.search-box {
  width: 50%;
}

.search-box form {
  position: relative;
  display: flex;
  align-items: center;
  height: 24px;
}

.search-box input {
  flex: 1;
  padding:12px 12px;
  padding-right: 60px;
  border-radius: 20px;
  border: none;
}

.search-box input:focus {
    outline: 2px solid #FF9200;
}

header > div:last-child {
  width: 25%;
  display: flex;
  justify-content: flex-end;

}

header > div:last-child > a {
  margin-left: 20px;
  display: flex;
  text-decoration: none;
}

header > div:last-child > div {
  display: flex;
  gap: 10px;
  position: relative;
}

header > div:last-child > div span {
  font-size: 13px;
  position: absolute;
  bottom: 25px;
}

.search-box button {
  position: absolute;
  right: 10px;
  border: none;
  width: 35px;
  height: 35px;
  padding: 10px;

  border: 1px solid black;
  border-radius: 50%;
}

.search-box button:hover {
    scale: 1.05;
}

.search-box button:active {
    scale: 0.99;
}

.search-box img {
  width: 100%;
}

body {
  background-color: #272727;
  color: white;
}