* {
  margin: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  min-height: calc(100dvh - 260px);
  padding: 60px 150px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  position: relative;
}

main > span {
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
}

main > button {
  position: absolute;
  top: 60px;
  right: 150px;
}

main > div {
  display: flex;
  flex-direction: column;
}

.post-info {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

}

.post-info > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.post-content {
  box-sizing: border-box;
  flex: 1;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 0 3px grey;
  min-height: calc(100dvh - 180px - 254px);
}

.post-reply {
  margin-top: 40px;
}

.post-reply > span {
  font-weight: bold;
}

ol {
  list-style: none;
  padding-left: 0;
}

li {
  margin: 10px 0;
  padding: 10px 0;
}

li > div:first-child {
  display: flex;
  justify-content: space-between;
}

li p {
  margin: 10px 0;
  box-shadow: 0 0 3px grey;
  min-height: 100px;
  padding: 10px;
}