* {
  margin: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
    min-height: calc(100dvh - 260px);
    padding: 60px 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.search-result-msg {
  display: flex;
  align-items: center;
  height: 60px;
}

.search-result-item {
  display: flex;
  flex-direction: column;

  width: 70%;
  padding-top: 20px;
  margin-right: 80px;
}

.search-result-item ol {
  list-style: none;
  padding: 0;
}

.search-result-item li {
  margin-bottom: 40px;
}

.search-result-item li > div {
  display: flex;
}

li a:hover {
  text-decoration: underline;
}

li a img{
  width: 150px;
}

li span:first-child {
  font-weight: bold;
}

.search-result-item li > div > div {
  margin-left: 30px;
}

.search-result-item li > div > div span {
    font-size: 18px;

}

li span {
  display: block;
  font-size: 14px;
  color: #bdc1c6;
  margin: 5px 0;
}

main > section:nth-child(2) {
  display: flex;
}