<header th:fragment="header">
    <a class="logo"
       th:data-url="${serviceMainPagePath}"
       onclick="location.href=this.getAttribute('data-url'); return false;">
        <img class="logo__image" src="/assets/img/logo.png" alt="로고">
        <span class="logo__text" th:text="${logoText}"></span>
    </a>
    <div class="search-box">
        <form onsubmit="return false">
            <input type="text" name="term" placeholder="검색어를 입력하세요.">
            <button>
                <img src="/assets/img/search.png"/>
            </button>
        </form>
    </div>
    <div>
        <button id="register-button" th:if="${currMemberNickname == null}" onclick="location.href='/member/register';">회원가입</button>
        <button id="login-button" th:if="${currMemberNickname == null}" onclick="location.href='/member/login';">로그인</button>
        <span th:if="${currMemberNickname != null}" th:text="'환영합니다 ' + ${currMemberNickname} + '님'"></span>
        <button id="member-page-button" th:if="${currMemberNickname != null}" onclick="location.href='/member/mypage';">마이페이지</button>
        <button id="goto-board-button"
                th:data-url="${toggleServicePagePath}"
                th:text="${toggleServiceName}"
                onclick="location.href=this.getAttribute('data-url');">
        </button>
        <button th:if="${currMemberNickname != null}" onclick="location.href='/member/logout';">로그아웃</button>
    </div>
</header>