<header th:fragment="header">
    <a class="logo" th:href="${serviceMainPagePath}">
        <img class="logo__image" src="/assets/img/logo.png" alt="로고">
        <span class="logo__text" th:text="${logoText}"></span>
    </a>
    <div class="search-box">
        <form th:action="${serviceName != null} ? ${serviceName + '/search'} : '/search'" method="get">
            <input type="text" name="term" minlength="1" placeholder="검색어를 입력하세요." required>
            <button type="submit">
                <img src="/assets/img/search.png" alt="검색"/>
            </button>
        </form>
    </div>
    <div>
        <div>
            <form th:if="${currMemberNickname == null}" action="/member/register">
                <button type="submit" id="register-button">회원가입</button>
            </form>

            <form th:if="${currMemberNickname == null}" action="/member/login">
                <button type="submit" id="login-button">로그인</button>
            </form>

            <span th:if="${currMemberNickname != null}" th:text="'환영합니다 ' + ${currMemberNickname} + '님'"></span>

            <form th:if="${currMemberNickname != null}" action="/member/mypage">
                <button type="submit" id="mypage-button">마이페이지</button>
            </form>

            <form th:if="${currMemberNickname != null}" action="/member/logout" method="POST">
                <button type="submit" id="logout-button">로그아웃</button>
            </form>
        </div>
        <a th:href="${toggleServicePagePath}">
            <button id="goto-board-button" th:text="${toggleServiceName}"></button>
        </a>
    </div>
</header>