<main th:fragment="post">
  <span th:text="${boardName}"></span>
  <button style="display: none;">수정</button>
  <button style="display: none;">삭제</button>
  <a th:href="${prevPageUrl}">
    <button>뒤로</button>
  </a>

  <div>
    <div class="post-info">
      <span th:text="'제목 : ' + ${postTitle}"></span>
      <div>
        <span th:text="'작성자 : ' + ${postAuthorName}"></span>
        <span th:text="'작성일 : ' + ${#dates.format(postPublishedDate, 'yyyy-MM-dd HH:mm')}"></span>
        <span th:text="'조회수 : ' + ${postVisit}"></span>
      </div>
    </div>
    <div class="post-content">
      <p th:text="${postContent}"></p>
    </div>
    <div th:if="${!isNoticeBoard}" class="add-reply-container">
      <span>댓글 작성</span>
      <form th:action="${postNum} + '/reply-submit'" method="POST">
        <textarea name="replyContent" cols="5" placeholder="내용을 입력해 주세요." minlength="1" maxlength="500" required></textarea>
        <button type="submit">등록</button>
      </form>
    </div>
    <div th:if="${!#lists.isEmpty(replys)}" class="post-reply-container">
      <span>댓글 목록</span>
      <div>
        <ol>
          <li th:each="reply: ${replys}">
            <div>
              <span th:text="'작성자 : ' + ${reply.memberNickname}"></span>
              <span th:text="'작성일 : ' + ${#dates.format(reply.replyPublishedDate, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <p th:text="${reply.replyContent}"></p>
            <div>
              <span th:text="'공감 : ' + ${reply.replyLikeCount}"></span>
              <form th:if="${isLoggedIn}" th:action="${postNum} + '/reply-like/' + ${reply.replyNum}" method="POST">
                <button type="submit">👍</button>
              </form>
              <span th:text="'비공감 : ' + ${reply.replyDislikeCount}"></span>
              <form th:if="${isLoggedIn}" th:action="${postNum} + '/reply-dislike/' + ${reply.replyNum}" method="POST">
                <button type="submit">👍</button>
              </form>
            </div>
            <form th:if="${replyNumListOfCurrMember.contains(reply.replyNum)}"
                  th:action="${postNum} + '/reply-delete'" method="POST">
              <button type="submit">삭제</button>
              <input type="hidden" name="replyNum" th:value="${reply.replyNum}"/>
            </form>
          </li>
        </ol>
      </div>
    </div>
  </div>
</main>