<main th:fragment="webtoonSearch">
  <div class="search-result-msg">
    <p>"<span th:text="${term}"></span>"에 대한 검색결과: 5건</p>
  </div>
  <section>
    <div class="search-result-item">
      <span>검색 결과</span>
      <div>
        <ul>
          <li>
            <a target="_blank" href="https://comic.naver.com/webtoon/list?titleId=783053&tab=tue">
              <img src="/assets/img/thumbnail_example.jpg" alt="웹툰 썸네일">
            </a>
            <div class="search-result-item__info">
              <span><strong>네이버 웹툰</strong></span>
              <div class="search-result-item__info--detail">
                <span>제목: 김부장</span>
                <span>작가: 이부장</span>
                <span>장르: 코미디</span>
                <span>평점: 9.7</span>
              </div>
            </div>
          </li>
          <li>
            <a target="_blank" href="https://comic.naver.com/webtoon/list?titleId=783053&tab=tue">
              <img src="/assets/img/thumbnail_example.jpg" alt="웹툰 썸네일">
            </a>
            <div class="search-result-item__info">
              <span><strong>네이버 웹툰</strong></span>
              <div class="search-result-item__info--detail">
                <span>제목: 김부장</span>
                <span>작가: 이부장</span>
                <span>장르: 코미디</span>
                <span>평점: 9.7</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="webtoon-recommend-list">
      <div class="webtoon-recommend-list--naver">
        <span>검색 결과와 관련이 있는 네이버 웹툰 추천</span>
        <div>
          <ul>
            <li>웹툰</li>
            <li>웹툰</li>
          </ul>
        </div>
      </div>
      <div class="webtoon-recommend-list--kakao">
        <span>검색 결과와 관련이 있는 카카오 웹툰 추천</span>
        <div>
          <ul>
            <li>웹툰</li>
            <li>웹툰</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>