<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KH TOON 커뮤니티</title>
    <link rel="stylesheet" href="/assets/css/board-page-main.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
</head>

<body>
    <header>
        <a href="/board/general" class="logo">
            <img class="logo__image" src="/assets/img/logo.png" alt="로고">
            <span class="logo__text">KH TOON 커뮤니티</span>
        </a>
        <div class="search-box">
            <form onsubmit="return false">
                <input type="text" name="term" placeholder="검색어를 입력하세요.">
                <button>검색</button>
            </form>
        </div>
        <div>
            <button id="register-button" onClick="location.href='/register/page.html';">회원가입</button>
            <button id="login-button" onClick="location.href='/login/page.html';">로그인</button>
            <button id="member-page-button" onClick="location.href='/mypage/page.html';">마이페이지</button>
            <button id="goto-board-button" onClick="location.href='/'">웹툰</button>
        </div>
    </header>
    <main>
        <span>게시판 > 자유게시판</span>
        <section>
            <div class="board-sidebar">
                <span>메뉴</span>
                <ol>
                    <li>
                        <a href="notice.html"><strong>공지게시판</strong></a>
                    </li>
                    <li>
                        <a href="general.html"><strong>자유게시판</strong></a>
                    </li>
                </ol>
            </div>
            <div class="board-content">
                <div class="notice-board--main-post-list">
                    <ol>
                        <li>
                            <span>[ 메인 공지 ]</span>
                            <a href="#">
                                <p>환영합니다.</p>
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="post-list">
                    <ol>
                        <li>
                            <span>1</span>
                            <a href="general/post/1">
                                <p>게시글</p>
                            </a>
                        </li>
                        <li>
                            <span>2</span>
                            <a href="general/post/2">
                                <p>게시글</p>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
    <script src="/assets/js/board_search_handler.js"></script>
</body>

</html>