<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KH TOON</title>
    <link rel="stylesheet" href="/assets/css/webtoon-page-main.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
</head>

<body>
    <div th:replace="~{thymeleaf/component/header :: header}"></div>
    <div th:replace="~{thymeleaf/component/main/index_main :: index}"></div>
    <div th:replace="~{thymeleaf/component/footer :: footer}"></div>
    <script src="/assets/js/webtoon_searchbox_handler.js"></script>
</body>

</html>