<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KH TOON 회원가입</title>
    <link rel="stylesheet" href="/assets/css/register-page.css">
</head>

<body>
<div>
    <a th:href="${prevPageUrl}">
        <button>
            <img src="/assets/img/left-arrow.png" />
        </button>
    </a>
    <h1>KH TOON 회원가입</h1>
    <form action="/member/register/submit" method="POST">
        <label>아이디</label>
        <input type="text" name="id" required/>
        <label>비밀번호</label>
        <input type="password" name="pw" minlength="8" maxlength="20" required/>
        <label>이메일 주소</label>
        <input type="email" name="email" required/>
        <label>닉네임</label>
        <input type="text" name="nickname" maxlength="20" required/>
        <label>생년월일</label>
        <input type="date" name="birth" required/>
        <button type="submit">등록</button>
        <input type="hidden" name="referer" th:value="${referer}" />
    </form>
</div>
</body>

</html>